.desktopScreen {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 100dvh;
    overflow: hidden;
}

.workArea {
    flex: 1;
    background-image:url(../../assets/layered-waves-haikei.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.icon {
    height: 86px;
    width: 64px;
    margin: 5px;
    background-color: #333333;
    border-radius: 5px;
}

.icon:hover {
    cursor: pointer;
}

.windowHeader {
    position: relative;
    height: 2em;
    background-color: aliceblue;
    overflow: hidden;
}

.Window {
    position: absolute;
    border: 2px solid black;
    height: 20em;
    width: 40em;
    background-color: antiquewhite;
    overflow: hidden;
}

.Window:hover {
    z-index: 10;
}
