.desktopScreen {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 13, 19, 0.938);
    background-size: cover;
}

.workArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    margin-right: auto;
}

.icon {
    height: 7em;
    width: 6em;
    margin: 1em;
    gap: .5em;
    border-radius: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.icon:hover {
    background-color: #0169f11c;
    box-shadow: #0000004f 0px 0px 10px;
}

.iconSelected {
    background-color: #0169f141;
    box-shadow: #0000004f 0px 0px 10px;
}

.icon img {
    height: 4em;
}

.icon:hover {
    cursor: pointer;
}

.windowHeader {
    position: relative;
    height: 2em;
    background-color: aliceblue;
    overflow: hidden;
}

.Window {
    position: absolute;
    border: 2px solid black;
    height: 20em;
    width: 40em;
    background-color: antiquewhite;
    overflow: hidden;
}

.Window:hover {
    z-index: 10;
}
