.desktopScreen {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 100dvh;
    overflow: hidden;
}

.workArea {
    flex: 1;
    background-image:url(../../assets/layered-waves-haikei.svg);
    background-size: cover;
    display: flex;
}

.taskBar {
    height: 3em;
    background-color: #0000ff3a;
    z-index: 3;
}
